<div class="text-center row">
  <%=form_with(model: @document, local: true) do |f|%>
    <% invalid = @document.errors.include?(:file) %>
    <div class="form-group">
      <%= f.label :file %>
      <% if @document.file.attached? %>
        <p>Current PDF File: <%= @document.file.filename %></p>
      <% else %>
        <p>No PDF file attached.</p>
      <% end %>
      <%= f.file_field :file, class: "form-control #{'is-invalid' if invalid}" %>
      <% if invalid %>
        <div class="invalid-feedback d-block">
          <% @document.errors.full_messages_for(:file).each do |error_message| %>
            <%= error_message %>.
          <% end %>
        </div>
      <% end %>
    </div>
    <%=f.submit :Upload, class:"btn btn-secondary"%>
  <%end%>
  <div class="text-start"><%=link_to documents_path, class:"btn btn-primary mb-4" do%>
      <i class="fa-regular fa-circle-left fa-xl"></i>Back
    <%end%>
  </div>
</div>
