<p class="alert"><%= alert %></p>
<h2 class="notice"><%= notice %></h2>
<h1>Wellcome to:<strong><%=current_user.email%></strong></h1>
<h2>Project_management</h2>
<div class="text-start">
  <%=link_to new_document_path,class:"btn btn-primary btn-lg mb-4 " do %>
    <i class="fa-solid fa-upload"></i>Upload file
  <% end %>
</div>
<table class="table table-bordered table-striped ">
  <tr>
    <th>File</th>
    <th>Download</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tbody data-controller="sortable">
    <% @documents.each do |document| %>
      <tr data-id="<%= document.id %>">
        <td><%=document.file.filename%></td>
        <td><%= link_to (rails_blob_path(document.file, disposition: "attachment") if document.file.attached?), class:"btn btn-primary" do %> <i class="fa-solid fa-download"></i><%end%>
        </td>
        <td> <%=link_to document_path(document),class:"btn btn-success" do %> <i class="fa-solid fa-eye"></i><%end%></td>
        <td> <%=link_to edit_document_path(document),class:"btn btn-primary" do %><i class="fa-solid fa-pen-to-square"></i><%end%></td>
        <td> <%=link_to document_path(document),data: {turbo_method: "delete", turbo_confirm:"are you sure"},class:"btn btn-danger" do%><i class="fa-solid fa-trash"></i><%end%>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
