<p class="alert"><%= alert %></p>
<p class="notice"><%= notice %></p>
<h1>Wellcome to:<strong><%=current_user.email%></strong></h1>
<h2>Project_management</h2>
<div class="text-start">
  <%=link_to new_document_path,class:"btn btn-primary btn-lg mb-4 " do %>
    <i class="fa-solid fa-upload"></i>
  <% end %>
</div>
<table id="sortable-tasks" class="table table-bordered table-striped ">
  <tr>
    <th>File</th>
    <th>Download</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tbody>
    <% @documents.each do |document| %>
      <tr data-id="<%= document.id %>">
        <td><%=document.file.filename%></td>
        <td><%= link_to (rails_blob_path(document.file, disposition: "attachment") if document.file.attached?), class:"btn btn-primary" do %> <i class="fa-solid fa-download"></i><%end%>
        </td>
        <td> <%=link_to document_path(document),class:"btn btn-success" do %> <i class="fa-solid fa-eye"></i><%end%></td>
        <td> <%=link_to edit_document_path(document),class:"btn btn-primary" do %><i class="fa-solid fa-pen-to-square"></i><%end%></td>
        <td> <%=link_to document_path(document),data: {turbo_method: "delete", turbo_confirm:"are you sure"},class:"btn btn-danger" do%><i class="fa-solid fa-trash"></i><%end%>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<!--


<h1>Documents</h1>
<div class="form-actions">
  <%=link_to "create_new", new_document_path,class:"btn btn-primary btn-lg mb-4 "%>
</div>

<ul class="item-list">
  <% @documents.each do |document| %>
    <li class="item">
      <strong><%=document.name%></strong>
      <p><%= link_to "Download PDF", rails_blob_path(document.file, disposition: "attachment") if document.file.attached? %></p>
     <%=link_to "Show", document_path(document),class:"btn btn-success"%>
          <%=link_to "Edit", edit_document_path(document),class:"btn btn-primary"%>
          <%=link_to "Delete", document_path(document),data: {turbo_method: "delete", turbo_confirm:"are you sure"},class:"btn btn-danger"%>
        </td>
    </li>
  <% end %>
</ul>
-->
