<div class="text-center row">
  <%=form_with(model: @document, local: true) do |f|%>
    <% invalid = @document.errors.include?(:file) %>
    <div class="form-group">
      <%= f.label :file %>
      <%= f.file_field :file, class: "form-control #{'is-invalid' if invalid}" %>
      <% if invalid %>
        <div class="invalid-feedback d-block">
          <% @document.errors.full_messages_for(:file).each do |error_message| %>
            <%= error_message %>.
          <% end %>
        </div>
      <% end %>
    </div>
    <%=f.submit :Create,class:"btn btn-primary mt-4"%>
  <%end%>
  <div>
    <%=link_to "Back to Users", documents_path,class:"btn btn-success mt-4"%>
  </div>
</div>
